config:
  connector-manager:
    url: http://backend
    api-key: {{.APIKey}}
    insecure: false

image:
  version: v1.0.0-rc7

{{if .SharepointWebhookHost}}
ingress:
  enabled: true
  className: "traefik"
  annotations:
    cert-manager.io/issuer: letsencrypt-prod
  hosts:
    - host: {{.SharepointWebhookHost}}
      paths:
        - path: /api
          pathType: Prefix
  tls:
    - hosts:
      - {{.SharepointWebhookHost}}
      secretName: odsp-tls
{{end}}

livenessProbe:
  failureThreshold: 12
  httpGet:
    path: /healthz
    port: http
    scheme: HTTP
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 3

readinessProbe:
  failureThreshold: 6
  httpGet:
    path: /ready
    port: http
    scheme: HTTP
  periodSeconds: 20
  successThreshold: 1
  timeoutSeconds: 3

storage:
  annotations:
    helm.sh/resource-policy: keep