name: Go

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: glimps-re/go-actions@v0.3.0
        with:
          go-private-repo: github.com/glimps-re/*
          go-private-token: ${{ secrets.GO_PRIVATE_TOKEN }}
          go-version: '1.26'
